@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'SUITE-Regular';
    line-height: 1.2;
    background-color: #feff87;
}

p {
    margin: 0;
}

div {
    box-sizing: border-box;
}

:root {
    --ti-cursor-color: dodgerblue;
    --ti-cursor-margin-left: 10px;
}

.main-con {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.main-content{
    position: absolute;
    top: 25%;
    right: 12%;
    font-family: 'DOSGothic';
}

.main-sub-title{
    font-size: 50px;
    color: #9ef0e1;
}

.main-title{
    font-size: 100px;
    color: #8ccce7;
}

#intro-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    position: absolute;
    width: 100px;
    height: 130px;
    left: 72px;
    top: 95px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.intro-icon {
    width: 100px;
    height: 100px;
    background: #F5EA5A;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.introduction-box {
    width: 80vw;
    height: 75vh;
    position: absolute;
    background-color: white;
    top: 50px;
    left: 10%;
    transform: scale(0);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
}

.intro-head {
    position: relative;
    background-color: #eee;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
}

.intro-head-content {
    position: absolute;
    font-size: 16px;
    display: inline-flex;
    width: 100px;
    height: 50px;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
}

#intro-close {
    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    color: white;
}


.intro-content {
    width: 100%;
    height: 75vh;
    background-color: white;
    overflow-y: scroll;
    padding: 100px 100px;
    position: relative;
    background-image: linear-gradient(180deg,
            #439A97 0%,
            #62B6B7 30%,
            #97DECE 60%,
            #CBEDD5 100%);
    background-repeat: no-repeat;
    overflow-x: hidden;

}

.intro-header {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border: 2px white solid;
    border-radius: 20px;
    padding: 50px 100px;
    backdrop-filter: blur(20px);
    margin-bottom: 5%;
}

.intro-title {
    display: flex;
    width: 100%;
    align-items: baseline;
    gap: 3%;
    margin-bottom: 50px;
}

#header-title1 {
    font-size: 70px;
    color: #EAFDFC;
}

#header-title2 {
    font-size: 60px;
    color: #EAFDFC;
}

.header-content {
    font-size: 20px;
    color: white;
    margin-top: 3px;
}

.intro-main1 {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border: 2px white solid;
    border-radius: 20px;
    padding: 50px 100px;
    backdrop-filter: blur(20px);
    margin-bottom: 5%;
}

.intro-main1 img{
    width: 100%;
}

.main1-content-head {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: row;
    color: white;
}

.main1-photo {
    width: 220px;
    height: 293px;
    border-radius: 5px;
    background-color: transparent;
}

.main1-content-head-box p {
    margin-top: 3px;
}

.intro-main2 {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border: 2px white solid;
    border-radius: 20px;
    padding: 50px 100px;
    backdrop-filter: blur(20px);
    margin-bottom: 5%;
}

.main2-content-head {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: row;
    color: white;
}

.main2-content{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 6px;
}

.main2-content i{
    margin-right: 6px;
}



#homepage-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    position: absolute;
    width: 100px;
    height: 130px;
    left: 222px;
    top: 95px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.homepage-icon {
    width: 100px;
    height: 100px;
    background: #F5EA5A;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.homepage-box {
    width: 80vw;
    height: 75vh;
    position: absolute;
    background-color: white;
    top: 50px;
    left: 10%;
    transform: scale(0);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
}

.homepage-head {
    position: relative;
    background-color: #eee;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
}

.homepage-head-content {
    position: absolute;
    font-size: 16px;
    display: inline-flex;
    width: 100px;
    height: 50px;
    align-items: center;
    margin-left: 20px;
}

#homepage-close {
    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.homepage-content {
    width: 100%;
    height: 75vh;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.homepage-content img {
    position: absolute;
    width: 100%;
}

.homepage-content button {
    position: absolute;
    width: 250px;
    height: 60px;
    font-size: 18px;
    border: white 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    z-index: 1;
    font-family: 'SUITE-Regular';
}

.covely-btn-box {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 17%;
    position: relative;
}

.covely-btn-box button {
    overflow: hidden;
}

.covely-btn-box button:hover {
    color: black;
}

.covely-btn-box button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: all 0.5s;
}

.covely-btn-box button:hover::before {
    width: 100%;
    overflow: hidden;
    color: #ccc;
}

#carpage-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    position: absolute;
    width: 100px;
    height: 130px;
    left: 72px;
    top: 265px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.carpage-icon {
    width: 100px;
    height: 100px;
    background: #F5EA5A;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.carpage-box {
    width: 80vw;
    height: 75vh;
    position: absolute;
    background-color: white;
    top: 50px;
    left: 10%;
    transform: scale(0);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
}

.carpage-head {
    position: relative;
    background-color: #eee;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
}

.carpage-head-content {
    position: absolute;
    font-size: 16px;
    display: inline-flex;
    width: 100px;
    height: 50px;
    align-items: center;
    margin-left: 20px;
}

#carpage-close {
    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.carpage-content {
    width: 100%;
    height: 75vh;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.carpage-content img {
    position: absolute;
    width: 100%;
}

.carpage-content button {
    position: absolute;
    width: 220px;
    height: 60px;
    font-size: 18px;
    border: #2C74B3 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #2C74B3;
    border-radius: 100px;
    cursor: pointer;
    z-index: 1;
    font-family: 'SUITE-Regular';
}

.car-btn-box {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    position: relative;
}

.car-btn-box button {
    overflow: hidden;
}

.car-btn-box button:hover {
    color: black;
}

.car-btn-box button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #2C74B3;
    z-index: -1;
    transition: all 0.5s;
}

.car-btn-box button:hover::before {
    height: 100%;
    overflow: hidden;
    color: #ccc;
}

#cafefactory-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    position: absolute;
    width: 100px;
    height: 130px;
    left: 222px;
    top: 265px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.cafefactory-icon {
    width: 100px;
    height: 100px;
    background: #F5EA5A;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.cafefactory-box {
    width: 80vw;
    height: 75vh;
    position: absolute;
    background-color: white;
    top: 50px;
    left: 10%;
    transform: scale(0);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
}

.cafefactory-head {
    position: relative;
    background-color: #eee;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
}

.cafefactory-head-content {
    position: absolute;
    font-size: 16px;
    display: inline-flex;
    width: 100px;
    height: 50px;
    align-items: center;
    margin-left: 20px;
}

#cafefactory-close {
    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.cafefactory-content {
    width: 100%;
    height: 75vh;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.cafefactory-content img {
    position: absolute;
    width: 100%;
}

.cafefactory-content button {
    position: absolute;
    width: 250px;
    height: 60px;
    font-size: 18px;
    border: #8d7b68 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #8d7b68;
    border-radius: 100px;
    cursor: pointer;
    z-index: 1;
    font-family: 'SUITE-Regular';
}

.cafefactory-btn-box {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 17%;
    position: relative;
}

.cafefactory-btn-box button {
    overflow: hidden;
}

.cafefactory-btn-box button:hover {
    color: black;
}

.cafefactory-btn-box button::before {
    content: '';
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8d7b68;
    z-index: -1;
    transition: all 1s;
}

.cafefactory-btn-box button:hover::before {
    top: 0;
    overflow: hidden;
    color: #ccc;
}


footer {
    width: 100vw;
    height: 60px;
    background-color: #ccc;
    bottom: 0;
    left: 0;
    position: absolute;
}

footer img {
    margin-top: 15px;
    margin-left: 20px;
}

.active {
    transform: scale(1);
}
