@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Pretendard-Regular';
    background-color: #F9F5F0;
    height: 500vh;
}

body::-webkit-scrollbar {
    width: 7px;
    height: 100%;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #8D7B68;
    border-radius: 10px;
}

div {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.nav-con {
    width: 100vw;
    height: 60px;
    padding: 0px 300px;
    background-color: #8D7B68;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-con i {
    display: none;
}

.logo {
    height: 100%;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: end;
    color: #F2F2F2;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s;
}

.logo:hover {
    text-shadow: white 0px 0px 5px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-size: 14px;
    color: #F2F2F2;
}

.menu p {
    cursor: pointer;
    transition: all 0.3s;
}

.menu p:hover {
    text-shadow: white 0px 0px 5px;
}

.header-con {
    width: 5000px;
    font-size: 200px;
    display: flex;
    flex-direction: column;
}

.header-con-content1 {
    margin-left: -4000px;
    transition: all 2.3s ease-in-out;
}

.header-con-content2 {
    margin-left: 100vw;
    transition: all 2.3s ease-in-out;
}

.header-con-content1-show {
    margin-left: 200px;
}

.header-con-content2-show {
    margin-left: -700px;
}

.main1-con {
    width: 100vw;
    height: 40vh;
    display: flex;
    padding: 0 300px;
    justify-content: space-between;
    transition: all 1.5s;
    transition-delay: 1s;
    opacity: 0;
    transform: translateY(200px);
    margin-top: 20px;
}

.main1 {
    width: 30%;
    height: 100%;
    background-color: rgba(141, 123, 104, 0.2);
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.main1>p {
    display: none;
}

.main1-slider {
    opacity: 1;
    transform: translateY(0);
}

.main1:hover {
    border: 1px solid #8D7B68;

}

.main1hover-coffee {
    font-size: 26px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    opacity: 0;
    transition: all 0.3s;
}

.main1hover-coffee:hover {
    opacity: 1;
}

.main1hover-bread {
    font-size: 26px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    opacity: 0;
    transition: all 0.3s;
}

.main1hover-bread:hover {
    opacity: 1;
}

.main1hover-beverage {
    font-size: 26px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    opacity: 0;
    transition: all 0.3s;
}

.main1hover-beverage:hover {
    opacity: 1;
}

.review-photo-title {
    margin-top: 100px;
    width: 100vw;
    display: flex;
    padding: 0 300px;
    justify-content: space-between;
    align-items: end;
}

.review-photo-title p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
}

.review-photo-title p:nth-child(2) {
    font-size: 14px;
    color: rgb(189, 189, 189);
    cursor: pointer;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.review-photo-con {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-photo-group {
    width: 30vw;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.review-photo:nth-child(4),
.review-photo:nth-child(7),
.review-photo:nth-child(5),
.review-photo:nth-child(6) {
    width: 250px;
    height: 350px;
    background-color: transparent;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;
}

.review-photo:nth-child(1),
.review-photo:nth-child(2),
.review-photo:nth-child(3) {
    width: 100px;
    height: 125px;
    background-color: transparent;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;
}

.review-photo:nth-child(5) {
    transform: rotate(-10deg) translateX(-25px);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.review-photo:nth-child(6) {
    transform: rotate(-5deg) translateX(-10px);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.review-photo:nth-child(7) {
    transform: rotate(5deg) translateX(10px);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.review-photo:nth-child(4) {
    transform: rotate(10deg) translateX(25px);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.review-photo:nth-child(1) {
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.review-photo:nth-child(2) {
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.review-photo:nth-child(3) {
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.review-photo-group:hover>.review-photo:nth-child(5) {
    transform: rotate(-8deg) translateX(450px);
}

.review-photo-group:hover>.review-photo:nth-child(6) {
    transform: rotate(-5deg) translateX(150px);
}

.review-photo-group:hover>.review-photo:nth-child(7) {
    transform: rotate(5deg) translateX(-150px);
}

.review-photo-group:hover>.review-photo:nth-child(4) {
    transform: rotate(8deg) translateX(-450px);
}

.review-photo-group:hover>.review-photo:nth-child(1) {
    transform: rotate(3deg) translateX(10px) translateY(-270px);
}

.review-photo-group:hover>.review-photo:nth-child(2) {
    transform: rotate(-10deg) translateX(-500px) translateY(150px);
}

.review-photo-group:hover>.review-photo:nth-child(3) {
    transform: rotate(7deg) translateX(300px) translateY(250px);
}

.main-coffee-title {
    margin-left: 300px;
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold
}

.main-coffee-con {
    width: 100vw;
    height: 50vh;
    display: flex;
    padding: 0 300px;
    margin-top: 50px;
    justify-content: space-between;
}

.main-left-coffee {
    width: 49%;
    height: 100%;
    background: url(img/coffee-left.jpg);
    background-size: cover;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    overflow: hidden;
    padding: 5%;
}


.main-left-coffee-content {
    font-size: 14px;
    text-align: end;
    width: 50%;
}

.main-left-coffee-content p:nth-child(1),
.main-left-coffee-content p:nth-child(2) {
    font-size: 22px;
}

.main-left-coffee-content p:nth-child(3) {
    margin-top: 5%;
}

.coffee-viewmore-btn {
    border: black 1px solid;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    font-size: 12px;
    margin-top: 45px;
    width: 100%;
    height: 30%;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

.coffee-viewmore-btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.main-middle-coffee-con {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-middle-coffee {
    width: 100%;
    height: 48%;
    display: inline-flex;
    border-radius: 20px;
    transition: all 1s;
    overflow: hidden;
}

.main-right-coffee-con {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-right-coffee {
    width: 100%;
    height: 48%;
    display: inline-flex;
    border-radius: 20px;
    transition: all 1s;
    overflow: hidden;
}

.main-bread-title {
    margin-left: 300px;
    font-size: 30px;
    margin-top: 150px;
    font-weight: bold
}

.main-bread-con {
    width: 100vw;
    height: 50vh;
    display: flex;
    padding: 0 300px;
    margin-top: 50px;
    justify-content: space-between;
}

.main-left-bread-con {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-left-bread {
    width: 100%;
    height: 48%;
    display: inline-flex;
    border-radius: 20px;
    transition: all 1s;
    overflow: hidden;
}

.main-middle-bread {
    width: 49%;
    height: 100%;
    background: url(img/bread-middle.jpg);
    background-size: cover;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    overflow: hidden;
    padding: 5%;
}

.main-middle-bread-content {
    width: 50%;
    font-size: 14px;
}

.main-middle-bread-content p:nth-child(1),
.main-middle-bread-content p:nth-child(2) {
    font-size: 22px;
}

.bread-viewmore-btn {
    border: black 1px solid;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    font-size: 12px;
    margin-top: 45px;
    width: 100%;
    height: 30%;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

.bread-viewmore-btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.main-right-bread-con {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-right-bread {
    width: 100%;
    height: 48%;
    display: inline-flex;
    border-radius: 20px;
    transition: all 1s;
    overflow: hidden;
}

.main-beverage-title {
    margin-left: 300px;
    font-size: 30px;
    margin-top: 150px;
    font-weight: bold
}

.main-beverage-con {
    width: 100vw;
    height: 50vh;
    display: flex;
    padding: 0 300px;
    margin-top: 50px;
    justify-content: space-between;
}

.main-left-beverage-con {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-left-beverage {
    width: 100%;
    height: 48%;
    display: inline-flex;
    border-radius: 20px;
    transition: all 1s;
    overflow: hidden;
}

.main-middle-beverage-con {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-middle-beverage {
    width: 100%;
    height: 48%;
    display: inline-flex;
    border-radius: 20px;
    transition: all 1s;
    overflow: hidden;
}

.main-right-beverage {
    width: 49%;
    height: 100%;
    background: url(img/beverage-right.jpg);
    background-size: cover;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    overflow: hidden;
    padding: 5%;
}

.main-right-beverage-content {
    width: 50%;
    font-size: 14px;
}

.main-right-beverage-content p:nth-child(1),
.main-right-beverage-content p:nth-child(2) {
    font-size: 22px;
}

.beverage-viewmore-btn {
    border: black 1px solid;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    font-size: 12px;
    margin-top: 45px;
    width: 100%;
    height: 30%;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

.beverage-viewmore-btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.event-title {
    margin-top: 150px;
    width: 100vw;
    padding: 0 300px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: end;
}

.event-title p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
}

.event-title p:nth-child(2) {
    font-size: 14px;
    color: rgb(189, 189, 189);
    cursor: pointer;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.event-con {
    width: 40vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    padding: 0 300px;
    margin-top: 50px;
    opacity: 0;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s;
}

.event-poster {
    width: 23%;
    height: 70%;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
}


.event-con-slider {
    width: 100vw;
    opacity: 1;
}

.review-photo-mobile-con {
    width: 100vw;
    height: 42vh;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    display: none;
}

.review-photo-mobile-con::-webkit-scrollbar {
    display: none;
}

.review-photo-mobile-wrapper {
    width: 160vw;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1%;
}

.review-photo-mobile {
    width: 220px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7%;
    font-size: 14px;
}

.review-photo-mobile img {
    width: 100%;
    height: 100%;
}

.review-mobile-icon {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-photo-mobile:nth-child(5) {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}

#mobile-nav-con {
    width: 35%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    right: -35%;
    position: fixed;
    z-index: 111;
    transition: all 0.5s;
}

#mobile-nav-close {
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: 5% 10%;
    font-size: 20px;
}

.mobile-menu {
    width: 100%;
    height: 60px;
    border-bottom: #8D7B68 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;

}



.mobile-event-con {
    width: 94vw;
    height: 18vh;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-top: 40px;
    margin-left: 40px;
    scroll-snap-type: x mandatory;
    display: none;
}

.mobile-event-wrapper {
    width: 4000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1%;
    padding: 0 40px;
}

.mobile-event-con::-webkit-scrollbar {
    display: none;
}

.mobile-event-banner {
    width: 650px;
    height: 100%;
    background-color: white;
    scroll-snap-align: start;
    overflow: hidden;
}

.mobile-event-banner img{
    width: 100%;
}

.mobile-event-banner:nth-child(1) {
    background-color: red;
}

.mobile-event-banner:nth-child(2) {
    background-color: blue;
}

.mobile-event-banner:nth-child(3) {
    background-color: violet;
}

.mobile-event-banner:nth-child(4) {
    background-color: yellow;
}


@media screen and (max-width : 1024px) {
    body {
        overflow-x: hidden;
        height: 400vh;
    }

    .nav-con {
        padding: 0 100px;
    }

    .main1-con {
        padding: 0 100px;
        height: 30vh;
    }

    .main1:nth-child(1) img,
    .main1:nth-child(3) img {
        width: 105px;
        height: 150px;
    }

    .main1hover-coffee {
        font-size: 20px;
    }

    .main1hover-bread {
        font-size: 20px;
    }

    .main1hover-beverage {
        font-size: 20px;
    }

    .main1:nth-child(2) img {
        width: 184px;
        height: 120px;
    }

    .review-photo-title {
        padding: 0 100px
    }

    .review-photo-con {
        height: 60vh;
    }

    .review-photo img {
        width: 100%;
        height: 100%;
    }

    .review-photo:nth-child(4),
    .review-photo:nth-child(7),
    .review-photo:nth-child(5),
    .review-photo:nth-child(6) {
        width: 200px;
        height: 300px;
        background-color: transparent;
        border-radius: 20px;
        position: absolute;
        overflow: hidden;
    }

    .review-photo:nth-child(1),
    .review-photo:nth-child(2),
    .review-photo:nth-child(3) {
        width: 100px;
        height: 125px;
        background-color: transparent;
        border-radius: 20px;
        position: absolute;
        overflow: hidden;
    }

    .review-photo-group:hover>.review-photo:nth-child(5) {
        transform: rotate(-8deg) translateX(350px);
    }

    .review-photo-group:hover>.review-photo:nth-child(6) {
        transform: rotate(-5deg) translateX(120px);
    }

    .review-photo-group:hover>.review-photo:nth-child(7) {
        transform: rotate(5deg) translateX(-120px);
    }

    .review-photo-group:hover>.review-photo:nth-child(4) {
        transform: rotate(8deg) translateX(-350px);
    }

    .review-photo-group:hover>.review-photo:nth-child(1) {
        transform: rotate(3deg) translateX(10px) translateY(-230px);
    }

    .review-photo-group:hover>.review-photo:nth-child(2) {
        transform: rotate(-10deg) translateX(-350px) translateY(150px);
    }

    .review-photo-group:hover>.review-photo:nth-child(3) {
        transform: rotate(7deg) translateX(300px) translateY(150px);
    }

    .main-coffee-con {
        padding: 0 100px;
        height: 36vh;
    }

    .main-coffee-title {
        margin-left: 100px;
        font-size: 22px;
    }

    .main-left-coffee-content p:nth-child(1),
    .main-left-coffee-content p:nth-child(2) {
        font-size: 18px;
    }

    .coffee-viewmore-btn {
        height: 20%;
    }

    .main-bread-title {
        margin-left: 100px;
        font-size: 22px;
    }

    .main-bread-con {
        padding: 0 100px;
        height: 36vh;
    }

    .main-middle-bread-content p:nth-child(1),
    .main-middle-bread-content p:nth-child(2) {
        font-size: 18px;
    }

    .bread-viewmore-btn {
        height: 20%;
    }

    .main-beverage-title {
        margin-left: 100px;
        font-size: 22px;
    }

    .main-beverage-con {
        padding: 0 100px;
        height: 36vh;
    }

    .main-right-beverage-content p:nth-child(1),
    .main-right-beverage-content p:nth-child(2) {
        font-size: 18px;
    }

    .beverage-viewmore-btn {
        height: 20%;
    }

    .event-title {
        padding: 0 100px;
    }

    .event-con {
        padding: 0 100px;
        height: 40vh;
    }

    .header-con {
        font-size: 150px;
    }

    .review-photo-title p:nth-child(1) {
        font-size: 22px;
    }

    .review-photo-title p:nth-child(2) {
        display: none;
    }

    .event-title p:nth-child(1) {
        font-size: 22px;
    }

    .event-title p:nth-child(2) {
        font-size: 12px;
    }
}

@media screen and (max-width : 768px) {
    body {
        height: 250vh;
    }

    .header-con {
        display: none;
    }

    .nav-con {
        padding: 0px 40px;
    }

    .nav-con i {
        display: block;
        cursor: pointer;
    }

    .logo {
        font-size: 18px;
    }

    .menu {
        display: none;
    }

    .main1-con {
        margin-top: 40px;
        transform: translateY(0);
        opacity: 1;
        padding: 0;
    }

    .main1 {
        width: 33%;
        border-radius: 1px;
        padding: 7.8% 0;
        justify-content: space-between;
    }

    .main1hover-coffee {
        display: none;
    }

    .main1hover-bread {
        display: none;
    }

    .main1hover-beverage {
        display: none;
    }

    .main1:nth-child(1) img {
        width: 80px;
        height: 114px;
    }

    .main1:nth-child(2) img {
        width: 150px;
        height: 98px;
    }

    .main1:nth-child(3) img {
        width: 90px;
        height: 128px;
    }

    .main1>p {
        display: block;
    }

    .review-photo-title {
        padding: 0 40px;
        margin-top: 40px;
    }

    .review-photo-title p:nth-child(1) {
        font-size: 20px;
    }

    .review-photo-con {
        display: none;
    }

    .review-photo-mobile-con {
        display: flex;
    }

    .main-coffee-title {
        display: none;
    }

    .main-coffee-con {
        padding: 0;
        flex-direction: column;
        height: 40vh;
        gap: 1%;
        margin-top: 40px;
    }

    .main-left-coffee {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .main-left-coffee-content {
        text-align: start;
    }


    .main-left-coffee-content p,
    .main-left-coffee-content button {
        margin-right: 25px;
    }

    .main-middle-coffee-con {
        display: none;
    }

    .main-right-coffee-con {
        display: none;
    }

    .coffee-viewmore-btn {
        width: 70%;
        height: 30%;
        font-size: 12px;
    }

    .main-bread-title {
        display: none;
    }

    .main-left-bread-con {
        display: none;
    }

    .main-right-bread-con {
        display: none;
    }

    .main-middle-bread {
        width: 100%;
        border-radius: 0px;
    }

    .main-bread-con {
        padding: 0;
        margin-top: 20px;
    }

    .bread-viewmore-btn {
        width: 70%;
        height: 30%;
        font-size: 12px;
    }

    .main-beverage-title {
        display: none;
    }

    .main-left-beverage-con {
        display: none;
    }

    .main-middle-beverage-con {
        display: none;
    }

    .main-right-beverage {
        width: 100%;
        border-radius: 0;
    }

    .main-beverage-con {
        padding: 0;
        margin-top: 20px;
    }

    .beverage-viewmore-btn {
        width: 70%;
        height: 30%;
        font-size: 12px;
    }

    .review-photo-title p:nth-child(1) {
        font-size: 20px;
    }

    .event-title {
        padding: 0 40px;
        font-size: 20px;
        margin-top: 40px;
    }

    .event-con {
        height: 36vh;
        padding: 0 40px;
        width: 100vw;
        opacity: 1;
    }

    .main1:hover {
        border: none
    }

    .event-con {
        display: none;
    }

    .mobile-event-con {
        display: flex;
    }
}

@media screen and (max-width : 425px) {
    body {
        height: 220vh;
    }

    .nav-con {
        padding: 0 20px;
    }

    .mobile-menu {
        font-size: 12px;
    }

    .main1-con {
        flex-direction: column;
        margin-top: 20px;
        padding: 0 20px;
    }

    .main1 {
        width: 100%;
        height: 31%;
        flex-direction: row-reverse;
        padding: 0 10%;
    }

    .main1:nth-child(1) img {
        width: 35px;
        height: 50px;
    }

    .main1:nth-child(3) img {
        width: 37px;
        height: 53px;
    }

    .main1:nth-child(2) img {
        width: 77px;
        height: 50px;
    }

    .main1:nth-child(1),
    .main1:nth-child(3) {
        padding-right: 15%;
    }

    .review-photo-title {
        padding: 0 20px;
        margin-top: 40px;
    }

    .review-photo-mobile-con {
        padding: 0 20px;
        height: 30vh;
    }

    .review-photo-mobile {
        width: 147px;
        height: 200px;
    }

    .main-coffee-con {
        height: 35vh;
        margin-top: 10px;
    }

    .coffee-viewmore-btn {
        font-size: 12px;
        width: 100%;
        height: 25%;
        margin-top: 30px;
    }

    .main-left-coffee-content p:nth-child(1),
    .main-left-coffee-content p:nth-child(2) {
        font-size: 16px;
    }

    .main-left-coffee-content p:nth-child(3) {
        margin-top: 10px;
    }

    .main-left-coffee-content p:nth-child(3),
    .main-left-coffee-content p:nth-child(4),
    .main-left-coffee-content p:nth-child(5) {
        font-size: 12px;
    }

    .main-left-coffee-content button {
        margin-right: 10px;
    }



    .main-bread-con {
        margin-top: 10px;
        height: 35vh;
    }

    .bread-viewmore-btn {
        font-size: 12px;
        width: 100%;
        height: 25%;
        margin-top: 30px;
    }

    .main-middle-bread-content p:nth-child(1),
    .main-middle-bread-content p:nth-child(2) {
        font-size: 16px;
    }

    .main-middle-bread-content p:nth-child(3) {
        margin-top: 10px;
    }

    .main-middle-bread-content p:nth-child(3),
    .main-middle-bread-content p:nth-child(4),
    .main-middle-bread-content p:nth-child(5) {
        font-size: 12px;
    }

    .main-middle-bread-content button {
        margin-right: 10px;
    }

    .main-beverage-con {
        margin-top: 10px;
        height: 35vh;
    }

    .beverage-viewmore-btn {
        font-size: 12px;
        width: 100%;
        height: 27.7%;
        margin-top: 30px;
    }

    .main-right-beverage-content p:nth-child(1),
    .main-right-beverage-content p:nth-child(2) {
        font-size: 16px;
    }

    .main-right-beverage-content p:nth-child(3) {
        margin-top: 10px;
    }

    .main-right-beverage-content p:nth-child(3),
    .main-right-beverage-content p:nth-child(4) {
        font-size: 12px;
    }

    .main-right-beverage-content button {
        margin-right: 10px;
    }

    .event-title {
        padding: 0 20px;
    }

    .mobile-event-con {
        margin-left: 20px;
        height: 10vh;
    }

    .mobile-event-wrapper {
        padding: 0 20px;
    }

    .mobile-event-banner {
        width: 370px;
    }
}

@media screen and (max-width : 375px) {
    body {
        height: 195vh;
    }

    .review-photo-mobile-con {
        height: 26vh;
    }

    .review-photo-mobile {
        height: 180px;
    }

    .main-coffee-con{
        height: 28vh;
    }

    .coffee-viewmore-btn{
        height: 22%;
    }

    .main-bread-con{
        height: 28vh;
    }

    .main-beverage-con{
        height: 28vh;
    }

    .mobile-event-banner {
        width: 280px;
    }
}